@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Navigation Bar */

nav img{
    width: 300px;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    padding-left: 16px;

}

/* Header Section */

header{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:24px;
    background-color: #eadcff;
}

header h1{
    font-size: 72px;
}

header p{
    font-size: 36px;
    margin: 16px 0 24px 0;
}

header button{
    padding: 8px 16px;
    font-size: 24px;
    background-color: #05c7cf;
    color: white;
    border: none;
    cursor: pointer;
}



.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* About Section */

#About, #Discord, #Contact, #Footer{
    padding: 48px 0;
  
}

#About{
    background-color: #f8ffdc;
}

h2{

    font-size: 60px;
    text-align: center;
}

.section__description{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__description--wrapper{
    width: 60%;
}

.section__description--para{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.section__description--para, .about__image--wrapper{
    padding: 0 24px;
}

.about__image--wrapper{
    width: 40%;
}
.about__image{
    width: 100%;
}


/* Discord Section */

#Discord{
    background-color: #cafdff;
}

.discord__button{
    font-size: 24px;
    background-color: #eadcff;
    padding: 16px 24px;
    margin-right: 24px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.discord__button:hover{
    background-color: #05c7cf;
    color: white;
}

/* Contact Section */
#Contact{
    background-color: #dce9ff;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 24px;
}

input, textarea{
    padding: 6px 12px;
    font-size: 20px;
    margin-bottom: 24px;
}

.contact__button{
    background-color: #05c7cf;
    color: white;
    padding: 12px 24px;
    font-size: 24px;
    border: none;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaf5ff;
    flex-direction: column;
}

.footer__logo{
    width: 480px;
    margin-bottom: 16px;
}

.footer__links{
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
   margin-bottom: 16px;
}

.footer__links:hover{
    cursor: pointer;
    text-decoration: none;
}

.footer__link{
    padding: 0px 16px;
}



@media (max-width: 768px){
    
    .row{
        flex-direction: column;
    }

    .home__description{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home__description--button{
        max-width: 248px;
    }

    .home__header{
        text-align: center;
        font-size: 50px;
    }

    .home__subheader{
        text-align: center;
        font-size: 28px;
    }

    ul{
        display: none;
    }

    .section__description{
        flex-direction: column;
    }

    .section__description--wrapper{
        width: 100%;
    }

    .home__image{
        width: 100%;
    }

    .about__image--wrapper{
        width: 100%;
    }

    .about__image{
        width: 100%;
    }

    #discord .section__description{
        flex-direction: column-reverse;

    }

    .discord__image{
        width: 100%;
    }
    footer{
        padding: 48px 24px;
    }

    .footer__logo{
        max-width: 360px;
    }

    .footer__link{
        padding: 0 4px;
        font-size: 18px;
    }

    .footer__links{
        margin-bottom: 24px;
    }
}





